</body>
<footer>
  &copy; <span id="year"></span> Umer Iqbal. All rights reserved.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>


</html>